* {
    
}

body {
    background-color: dimgray;
    color: orange;
    font-family: monospace;
    font-weight: bold;
    width: auto;
}

.Top-Left {
    float: left;
    padding-right: 2%;
}

.Top-Right {
    padding-top: 2.1%;
}

.Good-News {
    padding-top: 1%
}

.Good-News-Gif {
    float: left;
    padding-right: 1%;
    padding-bottom: 1%;
}

.Git-Features-Table {
    float: left;
    font-size: 150%;
}

.Git-Features-Table tr th {
    padding: 5%;
    border-style: dashed;
}

.GitHub-Desktop-SS {
    float: right;
}

.GitHub-Desktop-Href {
    padding-top: 28%;
    padding-left: 40%;
}

.Table-Whole {
    padding-top: 20%;
}

.Good-News-Gif a {
    padding-bottom: 20%;
}