* {
    
}

body {
    background-color: dimgray;
    color: orange;
    font-family: monospace;
    font-weight: bold;
    width: auto;
}

.Top-Left {
    float: left;
    padding-right: 2%;
}

.Top-Right {
    padding-top: 2.1%;
}

.Good-News {
    padding-top: 1%;
}

.Good-News-Gif {
    float: left;
    padding-right: 1%;
    padding-bottom: 1%;
}