html {
    
}

nav {
    border-style: solid;
    border-color: lightgreen;
}

body {
    background-color: darkslategray;
    color: orange;
    font-family: monospace;
    font-weight: bold;
}

p {
    font-size: 15px;
}

.Main-Header {
    padding-top: 7px;
    font-size: 40px;
    font-weight: bolder;
}

.Sub-Header {
    font-size: 25px;
}

.Monitor {
    float: left;
    padding-right: 20px;
}

.Para1 {
    padding-top: 160px;
    padding-left: 345px;
}

.Top-Left {
    float: left;
    padding-right: 25px;
    font- 
}

.Top-Right {
    float: right;
    background-color: lightgreen;
}

.News-Table {
    float: right;
    width: 40%;
    margin-right: 508px;
    color: darkorange;
    background-color: grey;
    border-style: solid;
    border-color: darkgray;
}

td {
    width: 50%;
    padding-left: 10px;
}

th, td {
    border-style: dashed;
    border-color: darkgray;
}