html {
    
}

nav {
    border-style: solid;
    border-color: lightgreen;
}

body {
    background-color: darkslategray;
    color: orange;
    font-family: monospace;
    font-weight: bold;
    width: auto;
}

p {
    font-size: 15px;
}

.Main-Header {
    padding-top: 1%;
    font-size: 40px;
    font-weight: bolder;
}

.Sub-Header {
    font-size: 25px;
}

.Monitor {
    float: left;
}

.Para1 {
    padding-top: 12%;
    padding-left: 30%;
    padding-right: 2%;
}

.Top-Left {
    float: left;
    padding-right: 2%;
}

.Top-Right {
    float: right;
    background-color: lightgreen;
}

.News-Table {
    float: right;
    width: 40%;
    margin-right: 20%;
    color: darkorange;
    background-color: grey;
    border-style: solid;
    border-color: darkgray;
}

.Table-Text-Top {
    padding-left: 45%;
}

td {
    width: 50%;
    padding-left: 2%;
}

th, td {
    border-style: dashed;
    border-color: darkgray;
}