* {
    
}

body {
    background-color: dimgray;
    color: orange;
    font-family: monospace;
    font-weight: bold;
}

a {
    font-size: 20px;
}

.Question1 {
    font-size: 20px;
}

.Top-Left {
    float: left;
    padding-left: 15px;
    padding-right: 25px;
}

.Top-Right {
    padding-top: 19px;
    border-style: solid;
    border-color: lightgrey;
    background-color: grey;
}