* {
    
}

nav {
    
}

body {
    background-color: dimgray;
    color: orange;
    font-family: monospace;
    font-weight: bold;
}

.Links {
    font-size: 20px;
}

.Top-Left {
    float: left;
    padding-right: 25px;
}

.Top-Right {
    padding-top: 25px;
}